<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golang Webapp - Profile</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    {{ template "navbar" }}


    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            My Profile
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ .Name }} - {{ .Nickname }} - Member Since:
                            {{ .CreatedAt.Format "02/01/2006" }}
                        </h6>

                        <p class="card-text">
                            <a href="#" data-toggle="modal" data-target="#modal-followers">
                                Followers: {{ len .Followers }}
                            </a>
                        </p>
                        <p class="card-text" data-toggle="modal" data-target="#modal-following">
                            <a href="#">
                                Following: {{ len .Following }}
                            </a>
                        </p>

                        <div class="row">
                            <div class="col-12">
                                <a href="/edit-user" class="card-link">
                                    <button class="btn btn-info">Edit data</button>
                                </a>

                                <a href="/change-password" class="card-link">
                                    <button class="btn btn-info">Change password</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">My Posts</h5>
                        <p class="card-text">
                            {{ range .Posts }}
                                {{ template "post-with-permission" . }}
                            {{ else }}
                                <p class="text-muted text-center">
                                    No posts yet...
                                </p>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <a id="deletar-usuario" class="card-link">
            <button class="btn btn-info">
                Delete account permanently
            </button>
        </a>

    </div>

    {{ template "modal-followers" . }}
    {{ template "modal-following" . }}

    {{ template "footer" }}
    {{ template "scripts" }}
    
    <script src="/assets/js/posts.js"></script>
    <script src="/assets/js/users.js"></script>
</body>

</html>